@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    max-width: 120px;
    height: auto;
}

.navmenu{
    display: flex;
}

.navmenu a {
    color: #2c2c2c;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #EE1C47;
}
.nav-icon{
    display: flex;
    align-items: center;
}

.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
     transition: all .42s ease;

}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #EE1C47;
}

#menu-icon{
    font-size: 35px;
    cursor: pointer;
    color: #2c2c2c;
    z-index: 10001;

}

section{
    padding: 7% 10%;
}

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(assets/images/banner-3.png);
    background-position: center;
    background-size: cover;
    display: grid;
    background-repeat: no-repeat;
    align-items: center;
}

.main-text h5{
    color: #EE1C47;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1{
    color: #2c2c2c;
    font-size: 38px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;

}

.main-text p{
    color: #2c2c2c;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.main-btn{
    display: inline-block;
    color: #111;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}

.main-btn:hover{
    color: #fff;
    background-color: #000;
}

.main-btn i{
    vertical-align: middle;
}

.dow-arrow{
    position: absolute;
    top:85%;
    right: 11%;

}

.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 2px solid aqua;
    border-radius: 50px;
    padding: 12px 12px;
}

.down i:hover{
    background-color: aqua;
    transition: all .42s ease;
}