@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}
.logo img{
    max-width: 120px;
    height: auto;
}

.navmenu{
    display: flex;
}

.navmenu a {
    color: #2c2c2c;
    font-size: 15px;
    text-transform: capitalize;
    padding: 10px 20px;
    font-weight: 400;
    transition: all .42s ease;
}
.navmenu a:hover{
    color: #EE1C47;
}
.nav-icon{
    display: flex;
    align-items: center;
}

.nav-icon i{
    margin-right: 20px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
     transition: all .42s ease;

}
.nav-icon i:hover{
    transform: scale(1.1);
    color: #EE1C47;
}

#menu-icon{
    font-size: 35px;
    cursor: pointer;
    color: #2c2c2c;
    z-index: 10001;

}

section{
    padding: 7% 10%;
}

.main-home{
    width: 100%;
    height: 100vh;
    background-image: url(assets/images/banner-3.png);
    background-position: center;
    background-size: cover;
    display: grid;
    background-repeat: no-repeat;
    align-items: center;
}

.main-text h5{
    color: #EE1C47;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 500;
}

.main-text h1{
    color: #2c2c2c;
    font-size: 38px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;

}

.main-text p{
    color: #2c2c2c;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 20px;
}

.main-btn{
    display: inline-block;
    color: #111;
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    border: 2px solid #111;
    padding: 12px 25px;
    transition: all .42s ease;
}

.main-btn:hover{
    color: #fff;
    background-color: #000;
}

.main-btn i{
    vertical-align: middle;
}

.dow-arrow{
    position: absolute;
    top:85%;
    right: 11%;

}

.down i{
    font-size: 30px;
    color: #2c2c2c;
    border: 3px solid aqua;
    border-radius: 50px;
    padding: 12px 12px;
}

.down i:hover{
    background-color: aqua;
    transition: all .42s ease;
}

header.sticky{
    background: #fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
}

/* partie Section produits tendances- css*/
.center-text h2{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    margin-bottom: 25px;
}
.center-text span{
    color: #EE1C47;
}

.produits{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px,auto));
    gap: 2rem;

}

.rangee{
    position: relative;
    transition: all .40s;
}

.rangee img{
    width: 275px;
    height: auto;
    transition: all .40s;
    border-radius: 5px;

}

.rangee img:hover{
    transform: scale(0.9);
}
.produit-text h5{
    color: #fff;;
    font-size: 12px;
    position: absolute;
    font-weight: 500;
    top: 13px;
    left: 13px;
    text-transform: uppercase;
    background-color: #27b737;
    padding: 3px 10px;
    border-radius: 2px;
}
.heard-icon{
    position: absolute;
    right: 0;
    font-size: 20px;
    
}
.heard-icon:hover{
    color: #EE1C47;
}
.ratting i{
    color: #FF8C00;
    font-size: 20px;
}
.price h4{
    font-size: 15px;
    color: #111;
}
.price p{
    color: #151515;
    font-size: 15px;
    font-weight: 600;
}
/* section-client-reviews css*/

.client-reviews{
    background-color: #F3F4F6;
}
.review{
    text-align: center;
}
.review h3{
    color: #111;
    font-size: 25px;
    text-transform: capitalize;
    text-align: center;
    font-weight: 700;
}
.review img{
    width: 150px;
    height:150px ;
    border-radius: 100px;
    margin: 10px 0;
}
.review p{
    color: #707070;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    margin-bottom: 10px;
}
.review h2{
    font-size: 22px;
    color: #111;
    text-transform: capitalize;
    margin-bottom: 2px;
}

.up-center-text{
    text-align: center;
    color: #111;
    font-size: 15px;
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
}
.update-cart{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    gap: 2rem;
}
.cart img{
    width: 300px;
    height: auto;
    border-radius: 5px;
}
.cart h5{
    color: #707070;
    font-size: 14px;
    text-transform: capitalize;
    font-weight: 500;
}
.cart h4{
    color: #111;
    font-size: 17px;
    font-weight: 600;
}
.cart p{
    color: #707070;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 12px;
}
.cart h6{
    color: #111;
    font-size: 13px;
    font-weight: 500;
}
.contact{
    background-color: #F3F4F6;
}
.contact-info{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, auto));
    gap: 1.5rem;
}
.firs-contact img{
    width: 140px;
    height: auto;
    border-radius: 1rem;

}
.contact-info h4{
    color: #212519;
    font-size: 14px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-info p{
    color: #565656;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 1.5;
    margin-bottom: 10px;
    cursor: pointer;
    transition: all .42s;
}
.contact-info p:hover{
    color: #EE1C47;
}
.social-icon i{
    color: #565656;
    margin-right: 10px;
    font-size: 20px;
    transition: all .42s;

}
.social-icon i:hover{
    transform: scale(1.3);
}
.end-text{
    background-color: #edfff1;
    text-align: center;
    padding: 15px;
}